 <%- include('../partials/header') %>

<div class="card error">
  <h1>Erreur</h1>
  <p>Une erreur est survenue.</p>
  <a href="/" class="btn">Retour accueil</a>
</div>

<%- include('../partials/footer') %>